# Load .env file
python-dotenv

# FastAPI
fastapi
uvicorn
jinja2
pydantic

# Generative AI
torch
tiktoken
langchain
langchain-openai
langchain-chroma
langchain-faiss

# https://github.com/langchain-ai/langchain/issues/12954#issuecomment-1797110036
openai==0.28.1

# UX/UI
streamlit